#svelte, .page {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}

//* Fonts
// @import '@fontsource/rubik';
// @import '@fontsource/rubik/300';
// @import '@fontsource/rubik/800';
@import '@fontsource/fira-code';

//* Vendor
// @import './vendor/hamburgers';

//* Theme
@import './theme';

//* Utility
@import 'reset';

//* Elements
@import './elements/button';
@import './elements/anchors';
@import './elements/headers';
@import './elements/banners';

//* Layout
@import './layout/rules';
@import './layout/lists';
@import './layout/flex';
